<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSM.v1._1.Properties.Settings.ahamzic20_DBConnectionString"
            connectionString="Data Source=31.147.204.119\PISERVER,1433;Initial Catalog=ahamzic20_DB;Persist Security Info=True;User ID=ahamzic20;Password=pNzDysZy"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>